<section
  id='contact'
  class='px-6 overflow-hidden min-h-[600px] w-full flex flex-col items-center justify-center relative gap-4 sm:gap-6 sm:px-16 2xl:gap-12'
>
  <h2
    id='title-contact'
    class='text-shadow z-30 font-bold text-3xl text-[#FFFFFF] text-center drop-shadow-2xl sm:text-5xl 2xl:text-8xl'
  >
    Let's work together
  </h2>
  <div class='flex items-center justify-center gap-4 sm:gap-6 2xl:gap-12'>
    <a
      class='z-30 inline-flex items-center px-3 py-1.5 gap-2 rounded-md box-border 2xl:px-5 2xl:gap-3 2xl:rounded-lg'
      href='mailto:prietogaviriadaniel@gmail.com'
      aria-label='Send me a email'
    >
      <span class='text-white font-medium text-xl'>Send an email</span>
    </a>
    <a
      class='z-30 inline-flex items-center px-3 py-1.5 gap-2 rounded-md box-border 2xl:px-5 2xl:gap-3 2xl:rounded-lg'
      href='https://drive.google.com/file/d/1GhkxLC1_qe76ABIC_QoqSiNp7aSt3UEQ/view'
      target='_blank'
    >
      <span class='text-white font-medium text-xl'>View resume</span>
    </a>
  </div>
  <div class='circle_contact-1 animate-pulse opacity-25'></div>
</section>

<style>
  #contact {
    height: 100dvh;
  }

  .circle_contact-1 {
    width: 240px;
    height: 240px;
    border: 1em solid #f3d335;
    border-radius: 100%;
    position: absolute;
  }

  .text-shadow {
    text-shadow:
      0 5px 20px rgba(0, 0, 0, 0.2),
      0 -5px 15px rgba(0, 0, 0, 0.1),
      0 0 30px rgba(0, 0, 0, 0.2);
  }

  @media (width >= 640px) {
    .circle_contact-1 {
      width: 320px;
      height: 320px;
      border: 1.2em solid #f3d335;
    }
  }
  @media (width >= 1536px) {
    .circle_contact-1 {
      width: 560px;
      height: 560px;
      border: 1.9em solid #f3d335;
    }
  }
</style>
