---
import { MEDIA_BUTTONS } from '../consts'
---

<div
  id='contact'
  class='px-6 overflow-hidden h-screen min-h-[600px] w-full flex flex-col items-center justify-center relative gap-2 sm:gap-4 sm:px-16 2xl:gap-10'
>
  <h2
    id='title-contact'
    class='z-30 font-bold text-3xl text-[#FFFFFF] text-center drop-shadow-2xl sm:text-5xl 2xl:text-8xl'
  >
    Let's works together
  </h2>
  <a
    href='mailto:prietogaviriadaniel@gmail.com'
    class='icon-animation z-30 font-medium text-lg text-[#FFFFFF] flex items-center justify-center gap-2 sm:text-xl sm:gap-4 2xl:text-3xl 2xl:gap-6'
    aria-label='Send me a email'
  >
    Send an email
    <svg
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 24 24'
      stroke-width={2}
      stroke='#F3D335'
      class='w-3 h-3 sm:w-4 sm:h-4 2xl:w-7 2xl:h-7'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3'></path>
    </svg>
  </a>
  <div class='circle_contact-1 animate-pulse'></div>
  <footer
    class='z-30 w-full h-16 flex items-start justify-center absolute bottom-0 sm:h-24 2xl:h3-2'
  >
    <ul
      class='w-auto h-5 flex items-center justify-center gap-4 font-light text-neutral-400 sm:gap-6'
    >
      {
        MEDIA_BUTTONS.map((li, index) => (
          <li class='flex items-center justify-center gap-4   sm:gap-6 sm:text-lg'>
            <a
              class='transition-fade hover:text-[#FFFFFF]'
              href={li.href}
              target='_blank'
              aria-label={li.ariaLabel}
            >
              {li.label}
            </a>
            {index < MEDIA_BUTTONS.length - 1 && <span>-</span>}
          </li>
        ))
      }
    </ul>
  </footer>
</div>
