---
import { MEDIA_BUTTONS } from '../consts'
---

<div
  id='contact'
  class='px-6 overflow-hidden min-h-[600px] w-full flex flex-col items-center justify-center relative gap-4 sm:gap-6 sm:px-16 2xl:gap-12'
>
  <h2
    id='title-contact'
    class='text-shadow z-30 font-bold text-3xl text-[#FFFFFF] text-center drop-shadow-2xl sm:text-5xl 2xl:text-8xl'
  >
    Let's work together
  </h2>
  <a
    href='mailto:prietogaviriadaniel@gmail.com'
    class='button-contact z-30 pl-4 pr-2 py-2 rounded-full text-white font-normal text-sm flex items-center justify-center gap-3 sm:text-xl sm:gap-4 xl:pl-6 xl:pr-3 xl:py-3 2xl:pl-12 2xl:pr-6 2xl:py-4 2xl:text-3xl 2xl:gap-6'
    aria-label='Send me a email'
  >
    <p>Send an email</p>
    <div class='p-1 rounded-full xl:p-2 2xl:p-4'>
      <svg
        class='w-4 h-4 xl:w-5 xl:h-5 2xl:w-8 2xl:h-8'
        xmlns='http://www.w3.org/2000/svg'
        width='1em'
        height='1em'
        viewBox='0 0 24 24'
      >
        <path
          fill='currentColor'
          d='M16.15 13H5q-.425 0-.712-.288T4 12q0-.425.288-.712T5 11h11.15L13.3 8.15q-.3-.3-.288-.7t.288-.7q.3-.3.713-.312t.712.287L19.3 11.3q.15.15.213.325t.062.375q0 .2-.062.375t-.213.325l-4.575 4.575q-.3.3-.712.288t-.713-.313q-.275-.3-.288-.7t.288-.7z'
        ></path>
      </svg>
    </div>
  </a>
  <div class='circle_contact-1 animate-pulse opacity-25'></div>
  <footer
    class='z-30 w-full h-16 flex items-start justify-center absolute bottom-0 sm:h-24 2xl:h3-2'
  >
    <ul
      class='w-auto h-5 flex items-center justify-center gap-4 font-light text-neutral-400 sm:gap-6'
    >
      {
        MEDIA_BUTTONS.map((li, index) => (
          <li class='flex items-center justify-center gap-4 font-medium text-xs   sm:gap-6 sm:text-lg   lg:text-base 2xl:text-2xl'>
            <a
              class='transition-fade hover:text-[#FFFFFF]'
              href={li.href}
              target='_blank'
              aria-label={li.ariaLabel}
            >
              {li.label}
            </a>
            {index < MEDIA_BUTTONS.length - 1 && <span>-</span>}
          </li>
        ))
      }
    </ul>
  </footer>
</div>

<style>
  #contact {
    height: 100dvh;
  }

  .circle_contact-1 {
    width: 240px;
    height: 240px;
    border: 1em solid #f3d335;
    border-radius: 100%;
    position: absolute;
  }

  .text-shadow {
    text-shadow:
      0 5px 20px rgba(0, 0, 0, 0.2),
      0 -5px 15px rgba(0, 0, 0, 0.1),
      0 0 30px rgba(0, 0, 0, 0.2);
  }

  .button-contact {
    background-color: rgba(242, 242, 242, 0.06);
    transition: all 0.2s ease-in-out;
  }
  .button-contact > div {
    background-color: rgba(242, 242, 242, 0.06);
  }
  .button-contact > div svg {
    transition: all 0.2s ease-in-out;
  }
  .button-contact:hover {
    background-color: rgba(242, 242, 242, 0.1);
  }
  .button-contact:hover > div svg {
    transform: rotate(-45deg);
  }

  @media (width >= 640px) {
    .circle_contact-1 {
      width: 320px;
      height: 320px;
      border: 1.2em solid #f3d335;
    }
  }
  @media (width >= 1536px) {
    .circle_contact-1 {
      width: 560px;
      height: 560px;
      border: 1.9em solid #f3d335;
    }
  }
</style>
