---
import { MEDIA_BUTTONS } from '../consts'
---

<div
  id='contact'
  class='px-6 overflow-hidden h-screen min-h-[600px] w-full flex flex-col items-center justify-center relative gap-2 sm:gap-4 sm:px-16 2xl:gap-10'
>
  <h2
    id='title-contact'
    class='text-shadow z-30 font-bold text-3xl text-[#FFFFFF] text-center drop-shadow-2xl sm:text-5xl 2xl:text-8xl'
  >
    Let's works together
  </h2>
  <a
    href='mailto:prietogaviriadaniel@gmail.com'
    class='icon-contact z-30 font-normal text-sm flex items-center justify-center gap-3 sm:text-xl sm:gap-4 2xl:text-3xl 2xl:gap-6'
    aria-label='Send me a email'
  >
    <p>Send an email</p>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 24 24'
      stroke-width={2}
      stroke='#F3D335'
      class='w-4 h-4 2xl:w-7 2xl:h-7'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3'></path>
    </svg>
  </a>
  <div class='circle_contact-1 animate-pulse opacity-25'></div>
  <footer
    class='z-30 w-full h-16 flex items-start justify-center absolute bottom-0 sm:h-24 2xl:h3-2'
  >
    <ul
      class='w-auto h-5 flex items-center justify-center gap-4 font-light text-neutral-400 sm:gap-6'
    >
      {
        MEDIA_BUTTONS.map((li, index) => (
          <li class='flex items-center justify-center gap-4 font-medium text-xs   sm:gap-6 sm:text-lg   lg:text-base 2xl:text-xl'>
            <a
              class='transition-fade hover:text-[#FFFFFF]'
              href={li.href}
              target='_blank'
              aria-label={li.ariaLabel}
            >
              {li.label}
            </a>
            {index < MEDIA_BUTTONS.length - 1 && <span>-</span>}
          </li>
        ))
      }
    </ul>
  </footer>
</div>

<style>
  .circle_contact-1 {
    width: 220px;
    height: 220px;
    border: 0.9em solid #f3d335;
    border-radius: 100%;
    position: absolute;
  }

  .text-shadow {
    text-shadow:
      0 5px 20px rgba(0, 0, 0, 0.2),
      0 -5px 15px rgba(0, 0, 0, 0.1),
      0 0 30px rgba(0, 0, 0, 0.2);
  }

  @media only screen and (min-width: 640px) {
    .circle_contact-1 {
      width: 320px;
      height: 320px;
      border: 1.3em solid #f3d335;
    }
  }

  @media only screen and (min-width: 1536px) {
    .circle_contact-1 {
      width: 460px;
      height: 460px;
      border: 1.7em solid #f3d335;
    }
  }
</style>
