---
import { Image } from 'astro:assets'
---

<header class='z-50 w-full bg-[#0D0D0D]/95 backdrop-blur-xl fixed top-0'>
  <nav
    class='navbar px-6 h-16 w-full flex items-center justify-between sm:px-16 lg:px-24 lg:h-24 2xl:px-36 2xl:h-32'
  >
    <a class='flex gap-6 items-center justify-center xl:gap-8' href='#home'>
      <Image
        width='40'
        height='40'
        src='/assets/logo.webp'
        class='logo w-auto h-6 invert aspect-square xl:h-8 2xl:h-12'
        alt='logo'
        aria-label='Reload and go to home page'
        fetch-priority='high'
      />
      <div class='hidden xl:flex flex-col justify-center font-semibold'>
        <h2 class='text-white font-medium text-base 2xl:text-xl'>
          Daniel Prieto Gaviria
        </h2>
        <p class='text-neutral-500 font-medium text-sm 2xl:text-xl'>
          Frontend Developer & Designer
        </p>
      </div>
    </a>
    <ul
      class='h-full flex gap-6 font-medium text-xs lg:text-base lg:gap-10 2xl:text-xl 2xl:gap-16'
    >
      <li class='h-full flex items-center justify-center relative'>
        <a
          class='text-neutral-500 font-medium'
          href='#projects'
          aria-label='Go to section projects'
        >
          PROJECTS</a
        >
        <div class='dot absolute bottom-0'></div>
      </li>
      <li class='h-full flex items-center justify-center relative'>
        <a
          class='text-neutral-500 font-medium'
          href='#contact'
          aria-label='Go to section contact'
        >
          CONTACT</a
        >
        <div class='dot absolute bottom-0'></div>
      </li>
    </ul>
  </nav>
</header>

<style>
  .navbar a {
    transition: all 0.2s ease-in-out;
  }
  .navbar .dot {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffffff;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .navbar a:hover {
    color: #ffffff;
  }
  .navbar a:hover ~ .dot {
    transform: translateY(-12px);
    opacity: 1;
  }

  @media (width >= 1024px) {
    .navbar a:hover ~ .dot {
      transform: translateY(-26px);
      opacity: 1;
    }
  }
  @media (width >= 1536px) {
    .navbar .dot {
      width: 8px;
      height: 8px;
    }
    .navbar a:hover ~ .dot {
      transform: translateY(-36px);
      opacity: 1;
    }
  }
</style>
