---
import { MEDIA_BUTTONS } from '../consts'
---

<main
  id='home'
  class='px-6 h-screen min-h-[700px] w-full flex flex-col items-center justify-center relative sm:px-16 lg:flex-row lg:px-24 2xl:px-36'
>
  <section
    class='w-full max-w-6xl flex flex-col items-center justify-center gap-12 xl:gap-16'
  >
    <h1
      id='title-home'
      class='font-extrabold text-[#F3D335] text-center leading-tight flex flex-col gap-2'
    >
      front-end developer{' '}
      <span class='text-3xl text-[#FFFFFF] lg:text-5xl'>
        & graphic designer.
      </span>
    </h1>
    <h2
      id='description-home'
      class='max-w-4xl font-semibold text-center text-neutral-400'
    >
      I'm Daniel Prieto. I have{' '}
      <span class='text-white'>+2 years</span> of experience working as a
      developer and{' '}
      <span class='text-white'>+3 years</span> in design, I have successfully
      completed many projects and web apps.
    </h2>
    <div
      class='z-30 w-full flex items-center justify-center gap-6 lg:gap-12 2xl:gap-20'
    >
      <a
        href='/CV - Daniel Prieto Gaviria.pdf'
        download='CV - Daniel Prieto Gaviria'
        class='icon-download font-semibold text-xs flex items-center justify-center gap-2 xs:text-sm sm:text-base sm:gap-4 2xl:text-2xl 2xl:gap-6'
      >
        <p>DOWNLOAD CV</p>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width={2}
          stroke='#F3D335'
          class='w-3 h-3 sm:w-4 sm:h-4 2xl:w-7 2xl:h-7'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3'></path>
        </svg>
      </a>
    </div>
  </section>
  <footer class='px-6 w-full absolute bottom-0 sm:px-16 lg:px-24 2xl:px-36'>
    <ul
      class='w-full h-16 font-medium text-xs text-neutral-400 flex items-center justify-center gap-3 lg:h-24 lg:text-base 2xl:h-32 2xl:text-xl'
    >
      {
        MEDIA_BUTTONS.map((li, index) => (
          <li class='flex items-center justify-center gap-3'>
            <a
              class='transition-fade hover:text-[#FFFFFF]'
              href={li.href}
              target='_blank'
            >
              {li.label}
            </a>
            {index < MEDIA_BUTTONS.length - 1 && <span>/</span>}
          </li>
        ))
      }
    </ul>
  </footer>
</main>

<style is:global>
  #title-home:after,
  #title-contact::before,
  #title-home:before,
  #title-contact::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  }
  #title-home:before,
  #title-contact::before {
    background: var(--left-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
    z-index: -1;
  }
  #title-home:after,
  #title-contact::after {
    background: var(--right-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }

  #title-home {
    font-size: var(--font-size-xl);
  }
  #description-home {
    font-size: var(--font-size-base);
  }

  @media only screen and (max-width: 600px) {
    #title-home:after,
    #title-contact::before,
    #title-home:before,
    #title-contact::after {
      left: 0;
    }
  }

  @media only screen and (min-width: 1024px) {
    #title-home {
      font-size: var(--font-size-xxl);
    }
  }

  @media only screen and (min-width: 1536px) {
    #title-home {
      font-size: var(--font-size-xxxl);
    }
    #description-home {
      font-size: var(--font-size-md);
    }
  }
</style>
