---
import SocialMedia from './SocialMedia.astro'
---

<main
  id='home'
  class='min-h-[700px] w-full flex flex-col items-center justify-center gap-12 relative'
>
  <header
    class='w-full max-w-6xl flex flex-col items-center justify-center gap-8 2xl:gap-12'
  >
    <h1
      id='title-home'
      class='font-bold text-[#F3D335] text-center leading-tight flex flex-col gap-1 lg:gap-2'
    >
      Front-end developer{' '}
      <span
        class='font-medium text-xl text-[#FFFFFF] l g:text-3xl 2xl:text-5xl'
      >
        & graphic designer.
      </span>
    </h1>
    <h2
      id='description-home'
      class='max-w-xs font-normal text-center text-neutral-400 lg:max-w-3xl 2xl:max-w-none'
    >
      <span class='block'>
        I am Daniel a creative developer with a passion for design and
        development.
      </span>
      <span class='text-white'>+3 years</span> experience working and deploying many
      projects and web apps visually stunning and technically proficient.
    </h2>
  </header>
  <footer class='w-full flex flex-col items-center justify-center gap-8'>
    <div
      class='inline-flex items-center px-3 py-1.5 gap-2 rounded-md box-border 2xl:px-4 2xl:gap-3'
    >
      <span class='relative flex items-center h-2 w-2 2xl:h-3 2xl:w-3'>
        <span
          class='absolute inline-flex h-full w-full rounded-full bg-[#F3D335]'
        ></span>
        <span
          class='absolute inline-flex h-full w-full animate-ping rounded-full opacity-75 bg-[#F3D335]'
        ></span>
      </span>
      <p class='text-xs font-semibold text-white 2xl:text-base'>
        Available for new projects
      </p>
    </div>
    <SocialMedia />
  </footer>
</main>

<style is:global>
  #home {
    height: 100dvh;
  }

  #title-home:after,
  #title-contact::before,
  #title-home:before,
  #title-contact::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  }
  #title-home:before,
  #title-contact::before {
    background: var(--left-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
    z-index: -1;
  }
  #title-home:after,
  #title-contact::after {
    background: var(--right-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }

  #title-home {
    font-size: var(--font-size-xl);
  }
  #description-home {
    font-size: var(--font-size-sm);
  }

  @media (width <= 600px) {
    #title-home:after,
    #title-contact::before,
    #title-home:before,
    #title-contact::after {
      left: 0;
    }
  }
  @media (width >= 1024px) {
    #description-home {
      font-size: var(--font-size-base);
    }
  }
  @media (width >= 1536px) {
    #title-home {
      font-size: var(--font-size-xxxl);
    }
    #description-home {
      font-size: var(--font-size-md);
    }
  }
</style>
