---
import { moreWorks } from '../consts'

interface Project {
  title: string
  description: string
  technologies: string[]
  img: string
  url: string
}

const bentoItemSpace: Record<string, string> = {
  first: 'bento-item-secondary',
  second: 'bento-item-main',
  third: 'bento-item-secondary',
  fourth: 'bento-item-vertical',
  fifth: 'bento-item-vertical',
  sixth: 'bento-item-secondary'
}
---

<article
  class='px-6 flex flex-col gap-12 sm:px-12 xl:gap-20 xl:px-36 xl:pb-36 2xl:px-56 2xl:pb-56'
>
  <div class='w-full h-[2px] bg-neutral-800'></div>
  <section class='w-full bento-grid'>
    {
      moreWorks.map((project: Project, i: number) => (
        <div
          class={`${bentoItemSpace[Object.keys(bentoItemSpace)[i]]} bento-project-card flex overflow-hidden rounded-lg md:rounded-xl`}
        >
          <a href={project.url} target='_blank' class='w-full h-full'>
            <div class='glare-more-works' />
            <img
              class='w-full h-full object-contain'
              src={project.img}
              alt={project.title}
            />
          </a>
        </div>
      ))
    }
  </section>
</article>

<style>
  .bento-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(auto, 148px));
    gap: 1.2rem;
  }
  .bento-item-main {
    grid-column: span 1;
    grid-row: span 1;
  }
  .bento-item-vertical {
    grid-column: span 1;
    grid-row: span 1;
  }
  .bento-item-secondary {
    grid-column: span 1;
    grid-row: span 1;
  }

  .bento-project-card {
    outline-offset: -1px;
    background-image: radial-gradient(
      circle at 50% 0,
      rgba(255, 255, 255, 0.075),
      rgba(13, 13, 13)
    );
    outline: 1px solid rgba(242, 242, 242, 0.06);
    box-shadow: 0 20px 25px rgba(13, 13, 13, 0.5);
  }
  .bento-project-card:hover {
    background-image: radial-gradient(
      circle at 50% 0,
      rgba(255, 255, 255, 0.15),
      rgba(13, 13, 13)
    );
  }
  .bento-project-card a img {
    transition: all 0.2s ease-in-out;
  }
  .bento-project-card:hover a img {
    transform: scale(1.1);
  }
  .glare-more-works {
    z-index: 1;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 5%,
      rgba(255, 255, 255, 0.4) 35%,
      rgba(255, 255, 255, 0.6) 40%,
      rgba(255, 255, 255, 0.4) 65%,
      rgba(0, 0, 0, 0) 95%
    );
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  @media (width >= 1080px) {
    .bento-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, minmax(auto, 200px));
      gap: 2rem;
    }
    .bento-item-main {
      grid-column: span 1;
      grid-row: span 2;
    }
    .bento-item-vertical {
      grid-column: span 1;
      grid-row: span 2;
    }
    .bento-item-secondary {
      grid-column: span 1;
      grid-row: span 1;
    }
  }

  @media (width >= 1560px) {
    .bento-grid {
      grid-template-rows: repeat(3, minmax(244px, auto));
    }
  }
</style>
