<ul class='w-full flex items-start justify-center gap-4 2xl:gap-6'>
  <!-- Github -->
  <li
    class='flex items-center justify-center rounded-md box-border 2xl:rounded-lg'
  >
    <a
      class='w-full h-full p-3 2xl:p-4'
      href='https://github.com/DPG-Code'
      target='_blank'
      tabindex='4'
    >
      <svg
        class='w-5 h-5 2xl:w-8 2xl:h-8'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#ffffff'
        stroke-width='1.6'
        stroke-linecap='round'
        stroke-linejoin='round'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5'
        ></path></svg
      >
    </a>
  </li>
  <!-- Linkedin -->
  <li
    class='flex items-center justify-center rounded-md box-border 2xl:rounded-lg'
  >
    <a
      class='w-full h-full p-3 2xl:p-4'
      href='https://www.linkedin.com/in/daniel-prieto-dpg'
      target='_blank'
      tabindex='5'
    >
      <svg
        class='w-5 h-5 2xl:w-8 2xl:h-8'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#ffffff'
        stroke-width='1.6'
        stroke-linecap='round'
        stroke-linejoin='round'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M8 11v5'></path><path d='M8 8v.01'></path><path d='M12 16v-5'
        ></path><path d='M16 16v-3a2 2 0 1 0 -4 0'></path><path
          d='M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z'
        ></path></svg
      >
    </a>
  </li>
  <!-- Behance -->
  <li
    class='flex items-center justify-center rounded-md box-border 2xl:rounded-lg'
  >
    <a
      class='w-full h-full p-3 2xl:p-4'
      href='https://www.behance.net/danielprieto7'
      target='_blank'
      tabindex='6'
    >
      <svg
        class='w-5 h-5 2xl:w-8 2xl:h-8'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#ffffff'
        stroke-width='1.6'
        stroke-linecap='round'
        stroke-linejoin='round'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M3 18v-12h4.5a3 3 0 0 1 0 6a3 3 0 0 1 0 6h-4.5'></path><path
          d='M3 12l4.5 0'></path><path
          d='M14 13h7a3.5 3.5 0 0 0 -7 0v2a3.5 3.5 0 0 0 6.64 1'></path><path
          d='M16 6l3 0'></path></svg
      >
    </a>
  </li>
  <!-- Email -->
  <li
    class='flex items-center justify-center rounded-md box-border 2xl:rounded-lg'
  >
    <a
      class='w-full h-full p-3 2xl:p-4'
      href='mailto:prietogaviriadaniel@gmail.com'
      target='_blank'
      tabindex='7'
    >
      <svg
        class='w-5 h-5 2xl:w-8 2xl:h-8'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='none'
        stroke='#ffffff'
        stroke-width='1.6'
        stroke-linecap='round'
        stroke-linejoin='round'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z'
        ></path><path d='M3 7l9 6l9 -6'></path></svg
      >
    </a>
  </li>
</ul>
