---
import WorksCard from './WorksCard'
---

<section id='works' class='flex flex-col sm:py-16 lg:py-24 2xl:py-36'>
  <h2
    class='my-16 w-full z-40 font-bold text-center text-3xl text-[#FFFFFF] lg:text-5xl 2xl:text-7xl'
  >
    Works<span class='text-[#f3d335]'>.</span>
  </h2>
  <WorksCard client:only />
</section>
